@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.body {
  background-color: #eff0f3;
  margin: 0px;
  max-width: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 25px;
  background-color: #ff8e3c;
  position: fixed;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  z-index: 1;
}

.logo img {
  height: 50px;
}

.header h1{
  display: inline;
  font-family: "Edu VIC WA NT Beginner", cursive;
  position: relative;
  left: 7px;
  text-transform: uppercase;
}

.header h1 span{
  color: white;
}

.navbar {
  position: relative;
  right: 130px;
  display: block;
  margin: auto;
}

.navbar a {
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  color: #fffffe;
  text-transform: capitalize;
}

.navbar a:hover {
  color: black;
}

/*header section*/

.header-section {
    background-color: #eff0f3;
    position: relative;
    top: 350px;
    
    height: 480px;
    width: 900px;
    border-radius: 70px 5px 70px 5px;
  }
  
  .header-section img {
    position: relative;
    bottom: 165px;
    left: 50px;
    display: block;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.22);
  }
  
  .header-section p {
    position: relative;
    top: 80px;
    left: 460px;
    display: inline-block;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-transform: capitalize;
  }
  
  /*button*/
  .btn {
    background-color: #ff8e3c;
    color: #0d0d0d;
    height: 40px;
    width: 170px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease,
      box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .btn-position {
    position: relative;
    top: 130px;
    left: 70px;
  }
  
  .btn:hover {
    color: white;
    background-color: #ff6a00;
    transform: translateY(-2px);
  }
  
  .btn:active {
    font-size: 13px;
    transform: translateY(2px) scale(0.98);
  }